* {
  padding: 0;
  margin: 0;
}

.box-shadow {
  box-shadow: 0 0 0 1px rgb(0 0 0 / 7%), 0 2px 4px rgb(0 0 0 / 5%),
    0 12px 24px rgb(0 0 0 / 5%);
}

.margin {
  margin: 5px;
}

.text-align-center {
  text-align: center;
}
